<div class="container">


<h1>New Friend, You Shall Add</h1>
<br>

<form action="/friends" method="post">
  <input type="hidden" name="friend[user_id]" value="<%= current_user.id %>"></input>
  <br>
  <input type="text" name="friend[first_name]" placeholder="First Name"></input>
  <br>
  <input type="text" name="friend[last_name]" placeholder="Last Name"></input>
  <br>
  <input type="tel" name="friend[phone_number]" placeholder="Phone Number"></input>
  <br>
  <input class="button" type="submit" value="Add"></input>
</form>

</div>
