.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

body {
  background-color:#66CC66;
}

.container {
  background-color:white;
}

h1{
  color:#6699FF;
  text-align:center;
}

.button {
  background-color: #6FFF00 ;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto ;
}

form{
    margin-left: 25%;
    margin-right:25%;
    width: 100%;
}
