<div class="container">
<h1>Your Friends, I Shall Text</h1>
<img src="https://s-media-cache-ak0.pinimg.com/236x/19/f5/97/19f59722ee0081e76ff0c0201949cacf.jpg">

<section id="form-holder">
<form action="/sessions" method="post">
  <input type="text" name="email" placeholder="Email"></input>
  <input type="text" name="password" placeholder="Password"></input>
  <input class="button" type="submit" value="Log In"></input>
</form>

<br>
<form action="/users/new" method="get">
  <input class="button" type="submit" value="Sign Up!"></input>
</form>
</section>



</div>
