<div class="container">
<h1>T3XT YO Fr13nD$ 1N L33T $p34K</h1>

<form action="/sessions" method="post">
  <input type="text" name="email" placeholder="Email"></input>
  <input type="text" name="password" placeholder="Password"></input>
  <input type="submit" value="Log In"></input>
</form>

<br>
<form action="/users/new" method="get">
  <input type="submit" value="Sign Up!"></input>
</form>



</div>
