<div class="container">

<h1>Sign Up, You Shall</h1>

<img src="http://grantgould7.tripod.com/art/blogshots4/gould_yodasholonetdotcom.jpg">
<br>

<form action="/users" method="post">
  <input type="text" name="user[first_name]" placeholder="First Name"></input>
  <br>
  <input type="text" name="user[last_name]" placeholder="Last Name"></input>
  <br>
  <input type="email" name="user[email]" placeholder="Email"></input>
  <br>
  <input type="text" name="user[username]" placeholder="Username"></input>
  <br>
  <input type="password" name="user[password]" placeholder="Password"></input>
  <br>
  <input type="tel" name="user[phone_number]" placeholder="Phone Number"></input>
  <br>
  <input class="button" type="submit" value="Sign Up"></input>
</form>

</div>
