<div class="container">
  <h1>W4$$$APPPPP, <%= current_user.first_name %></h1>

  <form action="/sessions/<%= current_user.id %>" method="post">
    <input type="hidden" name="_method" value="delete"></input>
    <input type="submit" value="10g 0u7"></input>
  </form>


</div>
