<div class="container">
  <h1>W4$$$APPPPP, <%= current_user.first_name %></h1>

  <form action="/sessions/<%= current_user.id %>" method="post">
    <input type="hidden" name="_method" value="delete"></input>
    <input type="submit" value="10g 0u7"></input>
  </form>
  <form action="/users/<%= current_user.id %>/edit" method="get">
    <input type="submit" value="3D1T"></input>
  </form>

   <form action="/users/<%= current_user.id %>" method="post">
    <input type="hidden" name="_method" value="delete"></input>
    <input type="submit" value="D31373!!"></input>
  </form>

  <h2>T3XT Y0 FR13ND$</h2>



</div>
